h1 {
  text-align: center;
}

.list {
  margin: 0 auto;
}

.items {
  border: 1px solid gray;
  width: 75%;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-top: 15px;
}

button {
  margin-left: 10px;
}

.stream_title {
  text-decoration: none;
  color: #96d309;
  font-weight: bold;
  font-size: 18px;
}
