h1 {
  text-align: center;
}

.list {
  margin: 0 auto;
}

.items {
  border: 1px solid black;
  width: 55%;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-top: 15px;
  background-color: gray;
  color: white;
  box-shadow: black 7px 8px 14px;
}

button {
  margin-left: 15px;
  color: white;
  background-color: #96d309;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.stream_title {
  text-decoration: none;
  color: #96d309;
  font-weight: bold;
  font-size: 18px;
}
